API_ID=25488022
API_HASH=0c999a454fddd79251213be7944811e8
BOT_TOKEN=7157305450:AAFe1JIBnBhBZ74qPH7wolsm6N2XWE5OZRc
LOG_GROUP_ID=-1002136795173
MONGO_DB_URI=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7001982096
STRING_SESSION=BQFEfAEAor5fIMReBxVpsF_A34H0KCj0TozHS2JL26K-BYY3lM1S_JOl-nlkI7yQLvjq6XafGtFgNH9rNR1GDx9XMErP7l_9q6JE3ieaKGIjDoScdhxP74RDj2kEJNN3oxGB2GwxWW5oHe-DqDfFqcXcagoltXQ8tXaOAlX1mSjmoB_41dogLJU9O8b1dnNkIlhWcsLjHdEMQ6Qh4HV0draVBdZ1gVOi8-Kl6KMaP0Xdrz5e5CKs_gADetQ_kf8wdkBE0gxL9hbhBbnX-kdsyNGJJnUdg_zJEYofw_8_ilZ7mTvoCkqn_yLrWY0LPqiW_r4rKg7yz8gmXECTbUvfh6KNujFetwAAAAGSPIylAA
